{% extends 'main.html' %}


{% block page_content %}
    <p>We are spying on you and we know you are from {{ city }}</p>
    <a href="https://github.com/login/oauth/authorize?client_id=99483968851edaa50f7f&scope=user&redirect_uri=http://localhost:8080/oauth/github&state={{ state }}">Connect Your Github</a>
    <form action="{% url 'lostsoul_web:article_list' %}" method="get">
        <input name="q" placeholder="type keywords.." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'lostsoul_web:add_new_article' %}">add new article</a>
    <ul>
        {% for aritcle in my_articles %}
            <li><a href="{% url 'lostsoul_web:article_detail' aritcle.slug %}">{{ aritcle.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block page_title %}
    <title>All articles</title>
{% endblock %}